#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.wheather-title {
  font-size: 20px;
  color: rgba(0, 0, 0, 1);
  border: 1px solid #ffffffbe;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;    
  

  padding: 5px 10px;      
  width: 100px;         
  margin-left: 550px;
  
  background-color: rgba(255, 255, 255, 0.89); 
}





